@import './variables.scss';
@import './animation.scss';

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 1440px;
  height: 100%;
  position: relative;
  background: center / cover no-repeat;
}

.bgWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: $transition;

  &_visible {
    opacity: 1;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.header {
  width: $global-width;
  min-height: 85px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $secondary-border-color;
  position: relative;
  z-index: 3;
}

.svgContainer {
  min-width: 86px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:first-child {
    border-right: 1px solid $secondary-border-color;
  }

  &:last-child {
    border-left: 1px solid $secondary-border-color;
  }
}

.logoBox,
.svgContainer {
  svg path {
    transition: fill 0.3s ease;
  }

  &:hover svg path {
    fill: #c6876d;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 211px;

  div a {
    font-size: 14px;
    line-height: 143%;
    color: rgba(34, 34, 34, 0.7);
  }
}

.infoBox {
  font-size: 14px;
  line-height: 143%;
  display: flex;
  align-items: center;
  gap: 41px;
  color: $primary-color;
  -webkit-animation: $animation-focus-in;
  animation: $animation-focus-in;

  span {
    color: #c6876d;
  }

  p:first-child {
    margin-top: 5px;
  }

  p:last-child {
    position: relative;
  }

  p:last-child::before {
    content: '';
    width: 1px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 20%;
    left: -20px;
    background: #ebebeb;
  }
}

.phoneContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.phoneBox {
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  color: $primary-color;
  -webkit-animation: $animation-focus-in;
  animation: $animation-focus-in;
}

.navContainer {
  display: flex;
  gap: 50px;
}

.hero {
  width: $global-width;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 0;
}

.title {
  font-size: 64px;
  line-height: 112%;
  position: relative;
  z-index: 3;
  margin: 0 0 48px;
}

.transparentText {
  color: rgba(34, 34, 34, 0);
  -webkit-text-stroke: 1.5px $primary-color;
}

.button {
  width: fit-content;
  height: 40px;
  font-size: 14px;
  line-height: 143%;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(34, 34, 34, 0.3);
  padding: 10px 48px;
  background: transparent;
  color: $primary-color;
  z-index: 3;

  &::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -12px;
    background: $primary-color;
  }

  svg {
    width: 101%;
    height: 104%;
    position: absolute;
    top: -1px;
    left: -1px;
  }

  rect {
    fill: none;
    stroke: $primary-color;
    stroke-width: 1.5;
    stroke-dasharray: 0, 475;
    stroke-dashoffset: -475;
    transition: stroke-dasharray 0.9s ease;
  }

  &:hover rect {
    stroke-dasharray: 150, 475, 0;
  }
}

.services {
  width: 100%;
  min-height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: 84px 0 0;
}

.adsContainer {
  width: 100%;
  display: flex;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  position: relative;

  > div {
    flex: 1;
    min-height: 85px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    color: #fff;
    z-index: 2;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }

    &::after {
      content: '';
      display: none;
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background: #eb5757;
      z-index: 2;
    }

    &:hover::after {
      height: 725px;
      display: block;
    }

    &:hover {
      border: none;
    }

    &:nth-child(2)::after {
      background: #219653;
    }

    &:nth-child(3)::after {
      background: #2f80ed;
    }

    &:nth-child(4)::after {
      background: #9b51e0;
    }
  }

  &:hover ~ .bgContainer {
    opacity: 0;
  }
}

.adsBlock {
  width: 100%;
  height: 725px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: default;
  padding: 40px;
  z-index: 3;

  > p {
    font-family: var(--font-montserrat), sans-serif;
    font-size: 14px;
    line-height: 171%;
    margin-bottom: 17px;
  }
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px 0;
}

.arrowSvg {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $tertiary-border-color;
  border-radius: 50%;
  cursor: pointer;
}

.bgContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background:
    center / cover no-repeat url('/img/image_small.jpg'),
    rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: $transition;
}

.main {
  width: $global-width;
  display: flex;
  flex-direction: column;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 136px 0;

  div svg rect {
    stroke-dashoffset: -425;
  }
}

.heading {
  font-size: 32px;
  line-height: 125%;
  align-self: flex-start;
  position: relative;
  margin: 0 170px;

  &::before {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -80px;
    background: $primary-color;
  }

  span {
    -webkit-text-stroke: 0.5px $primary-color;
  }
}

.cases {
  width: 1100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  margin: 48px 0 64px;
}

.case {
  width: 100%;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background: center / cover no-repeat;
  padding: 32px;
  grid-column: span 4;

  > div {
    font-size: 20px;
    line-height: 120%;
    z-index: 3;
    color: #fff;
  }

  .caseInfo {
    font-size: 14px;
    line-height: 143%;
    display: flex;
    gap: 32px;
    opacity: 0;
    transition: $transition;
  }

  &:hover .caseInfo {
    opacity: 1;
  }

  .caseInfo > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .caseInfo > div > div:first-child {
    font-family: var(--font-montserrat-medium), sans-serif;
    font-size: 10px;
    line-height: 120%;
    opacity: 0.7;
    color: #fff;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    transition: $transition;
  }

  &:hover::before {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      rgba(0, 0, 0, 0.6);
  }

  &:first-child {
    background-image: url('/img/case_1.jpg');
    grid-column: span 8;
  }
  &:nth-child(2) {
    background-image: url('/img/case_2.jpg');
    grid-row: span 2;
  }
  &:nth-child(3) {
    background-image: url('/img/case_3.jpg');
  }
  &:nth-child(4) {
    background-image: url('/img/case_4.jpg');
  }
  &:nth-child(5) {
    background-image: url('/img/case_5.jpg');
    grid-row: span 2;
  }
  &:nth-child(6) {
    background-image: url('/img/case_6.jpg');
  }
  &:nth-child(7) {
    background-image: url('/img/case_7.jpg');
  }
  &:nth-child(8) {
    background-image: url('/img/case_8.jpg');
    grid-column: span 8;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsContainer {
  display: grid;
  margin-top: 48px;
  grid-template-columns: 340px 340px 370px;
  gap: 48px 30px;

  > div {
    font-size: 14px;
    line-height: 143%;
    display: flex;
    flex-direction: column;
    color: $primary-color;

    > p,
    > a {
      font-family: var(--font-montserrat), sans-serif;
      font-size: 13px;
      line-height: 185%;
      color: $primary-color;
      margin-top: 10px;
    }
  }
}

.formContainer {
  grid-row: span 3;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 25px;

  label,
  p {
    font-family: var(--font-montserrat-medium), sans-serif;
    font-size: 9px;
    line-height: 133%;
    color: $primary-color;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  p {
    color: #909090;

    a {
      border-bottom: 1px dotted $primary-color;
      color: $primary-color;
    }
  }

  input {
    font-family: var(--font-montserrat);
    font-size: 13px;
    line-height: 185%;
    border-bottom: 1px solid $secondary-border-color;
    color: $primary-color;

    &::placeholder {
      color: #909090;
    }
  }

  .labelContainer {
    display: flex;
    position: relative;

    label:first-child {
      width: 100%;
    }

    label[data-file] {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }

  > div a {
    svg {
      width: 100.5%;
      height: 105%;
    }

    rect {
      stroke-dasharray: 0, 575;
      stroke-dashoffset: -574;
    }

    &:hover rect {
      stroke-dasharray: 150, 575, 0;
    }
  }
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 15px;

  div {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background: $primary-color;
    cursor: pointer;
  }
}

.footer {
  min-height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  div:first-child {
    width: 1100px;
    height: 1px;
    background: $primary-color;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;

  p,
  a {
    font-size: 14px;
    line-height: 143%;
    color: $primary-color;

    span {
      font-family: var(--font-montserrat), sans-serif;
      font-size: 13px;
      line-height: 185%;
    }
  }
}

.svgContainer,
.nav {
  svg path {
    fill: $primary-color;
  }
}

.whiteText {
  color: $secondary-color;

  .navContainer a {
    color: rgba(255, 255, 255, 0.7);
  }

  .title span {
    -webkit-text-stroke: 1px $secondary-color;
  }

  .button {
    border: 1px solid $tertiary-border-color;
    color: $secondary-color;

    &::before {
      background: $secondary-color;
    }
  }

  .svgContainer,
  .nav {
    svg path {
      fill: $secondary-color;
    }
  }
}
